a.links{
top: 25px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #6A707B;
text-decoration:none;
position: relative;
margin-left: 15px;
left: 100px;
}
#emailField{
position: absolute;
width: 275px;
height: 60px;
left: -55px;
background: #FFFFFF;
border: 1px solid #E3E3E4;
box-sizing: border-box;
top: 120px;
border-left: 4px solid #4066A5;
}
#okButton{
    overflow: visible;
    position: relative;
    float: right;
    padding: 0;
    cursor: pointer;
    height: 60px;
    width: 55px;
    left: 215px;
    top: 120px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #E3E3E4;
    background-image: url(../images/ic_arrow.jpg);
    background-repeat: no-repeat;
    background-size: 24px 14px;
    background-position: 10px center;
    border-left: none;
}
a#face{
background-image: url(../images/Facebook.jpg);
width: 46px;
height: 46px;
}
a#inst{
background-image: url(../images/Instagram.jpg);
width: 46px;
height: 46px;
margin-left: 66px;  
}
a#yout{
background-image: url(../images/Youtube.jpg);
width: 46px;
height: 46px;
margin-left: 196px;  
}
a#twit{
background-image: url(../images/Twitter.jpg);
width: 46px;
height: 46px;
margin-left: 132px;  
}
form{
	position: absolute;
	left: 70px;
	top: 200px;
}
.field-mobile-background{
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 110%);
}
.menu-mobile-background{
    background-color: #FFFFFF;
}
#logo{
    background-image:  url(../images/Group_2.jpg);
    position: absolute;
    width: 118px;
    height: 40px;
}

.field-mobile-background{
	position: fixed;
	z-index: -1;
    left: 10px;
    width: 100%;
    top:150px;
    height: 100%;
	max-height: 381px;
	max-width: 335px;
	background-size: cover;
}
.menu-mobile-background{
   position: fixed;
    left: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    background-size: cover;
    max-height: 66px;
    max-width: 100%;
}
html{
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-repeat:  no-repeat;
	width: 100%;
	min-width: 1020px;
	background-size: 1020px 1080px;
    overflow: hidden;
}
.html-mobile-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%; 
    background-image: url(../images/image_summer_m.jpg);
    background-repeat:  no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}
h2{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
color: #6A707B;
left: 20px;
}
div.text_inf{
left: 20px;
position: absolute;
right: 20px;
}
h1{
font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 44px;
color: #131821;
left: 20px;
}
.img{
background-image: url(../images/logo_pineapple.jpg);
position: absolute;
width: 25px;
height: 40px;
left: 20px;
top: 10px;
}
label{
    position: absolute;
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #6A707B;
top: 240px;
width: 359px;
left: 60px;
}
.container {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0px;
  left: -50px;
  height: 26px;
  width: 26px;
border: 1px solid #E3E3E4;
box-sizing: border-box;
border-radius: 3px;
}
.container:hover input ~ .checkmark {
  background: #FFFFFF;
}
.container input:checked ~ .checkmark {
  background: #4066A5;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
a.icons{
  position: absolute;
  left: 40px;
  top: 310px;
}
a.icons_pr{
  position: absolute;
  left: 40px;
  top: 280px;
}
hr{
    position: absolute;
width: 295px;
left: 20px;
top: 290px;
color:  #E3E3E4;
}
#rule{
position: relative;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #131821;
left: 132px;
white-space: nowrap;
top: 61px;
}
#rule:active{
    color: #233759;
}
#rule:hover{
color: #4066A5;
}
a#face:hover{
    background-image: url(../images/ic_facebook.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 16px;
    background-color: #4267B2;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
a#yout:hover{
   background-image: url(../images/ic_youtube.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 13px;
   background-color: #FF0000;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
a#inst:hover{
    background-image: url(../images/ic_instagram.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
   background-color: #C13584;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
a#twit:hover{
   background-image: url(../images/ic_twitter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 13px;
   background-color: #1DA1F2;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

a#face:active{
    background-image: url(../images/ic_facebook_p.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 16px;
    background-color: #2F4A80;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
a#yout:active{
   background-image: url(../images/ic_youtube_p.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 13px;
   background-color: #CC0000;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
a#inst:active{
    background-image: url(../images/ic_instagram_p.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
   background-color: #8F2762;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
a#twit:active{
   background-image: url(../images/ic_twitter_p.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 13px;
   background-color: #177FBF;
box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

#emailField:focus{
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  background-color: #FFFFFF;
  outline: none;
}
#emailField:focus ~ #okButton {
    background-image: url(../images/ic_arrow.jpg);
    background-repeat: no-repeat;
    background-size: 24px 14px;
    background-position: 20px center;
    border-left: none;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    outline: none;
}
#emailField:hover{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #131821;
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  background-color: #FFFFFF;
  outline: none;
}
#emailField:hover ~ #okButton {
    background-image: url(../images/ic_arrow_h.jpg);
    background-repeat: no-repeat;
    background-size: 24px 14px;
    background-position: 20px center;
    border-left: none;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  background-color: #FFFFFF;
  outline: none;
}
#success{
    background-image: url(../images/ic_success.jpg);
    position: absolute;
    width: 44px;
height: 70px;
left: 20px;
top: 30px;
}
#text_pr{
position: absolute;
top: 71px;
left: 7px;
}
#text_pr2{
position: absolute;
top: 115px;
left: 7px;
right: -7px;
}
#pos{
    position: absolute;
width: 295px;
left: 20px;
top: 240px;
background: #E3E3E4;
}
.mes{
  position: absolute;
  width:360px;
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 26px;
color: #BB0C0CD4;
left: -10px;
}
#message{
	margin-top: 10px;
	top: 195px;
}
#message2{
	margin-top: 25px;
	top: 195px;
}
#message3{
	margin-top: 10px;
	top: 195px;
}
#message4{
	margin-top: 10px;
	top: 195px;
}
@media (min-width: 680px) {
    html {
        background-repeat: no-repeat;
        background-position:  center center; 
        background-size: cover;
        background-attachment: fixed;
    }
    .html-mobile-background {
        display: none;
    }
    #mfield{
		max-width:680px;
		max-height: 1080px;
		background-size: cover;
        top: 66px;
        left: 0px;
    }
    #lfield{
        max-width:680px;
        max-height: 120px;
        background-size: cover;
        top: 0px;
    }
    #logo{
        left: 100px;
    top: 100px;
    }
    div.text_inf{
    position: absolute;
    left: 140px;
    right: 141px;
    top:260px;
    }
    a.links{
        top: 95px;
        margin-left: 30px;
        left: 250px;
    }
    h1{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #131821;
    left: 20px;
    }
    h2{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
    left: 20px;
    }
    .img{
        background-image: url(../images/Group_2.jpg);
        position: absolute;
        width: 118px;
        height: 40px;
        left: 100px;
        top: 80px;
    }
    .bkg-image{
        background-image: url(../images/image_summer.jpg);
        position: absolute;
        width: 1620px;
        height: 1080px;
        left: 680px;
        top: 0px;
    }
    hr{
        position: absolute;
        width: 400px;
        left: 140px;
        top: 610px;
        border-top: 1px solid #E3E3E4;
    }
    #pos{
        position: absolute;
        width: 380px;
        left: 147px;
        top: 420px;
        border-top: 1px solid #E3E3E4;
    }
    a.icons{
  position: absolute;
  left: 200px;
  top: 651px;
}
a.icons_pr{
  position: absolute;
  left: 200px;
  top: 475px;
}
#success{
    background-image: url(../images/ic_success.jpg);
    height: 70px;
    width: 44px;
    position: absolute;
    top: 180px;
    left: 140px;
}
#emailField{
position: absolute;
width: 570px;
height: 70px;
left: 40px;
background: #FFFFFF;
border: 1px solid #E3E3E4;
box-sizing: border-box;
top:300px;
border-left: 4px solid #4066A5;
border-right: none;
}
#okButton{
    overflow: visible;
    position: absolute;
    float: right;
    padding: 0;
    cursor: pointer;
    height: 70px;
    width: 83px;
    left:610px;
    top: 300px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #E3E3E4;
    background-image: url(../images/ic_arrow.jpg);
    background-repeat: no-repeat;
    background-size: 24px 14px;
    background-position: 25px center;
    border-left: none;
    display: all;
}

#emailField:focus{
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  background-color: #FFFFFF;
  outline: none;
}
#emailField:focus ~ #okButton {
    background-image: url(../images/ic_arrow.jpg);
    background-repeat: no-repeat;
    background-size: 24px 14px;
    background-position: 25px center;
    border-left: none;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    outline: none;
}
#emailField:hover{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #131821;
  box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  background-color: #FFFFFF;
  outline: none;
}
#emailField:hover ~ #okButton {
    background-image: url(../images/ic_arrow_h.jpg);
    background-repeat: no-repeat;
    background-size: 24px 14px;
    background-position: 25px center;
    border-left: none;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  background-color: #FFFFFF;
  outline: none;
}
#rule{
position: relative;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #131821;
left: 122px;
top: 108px;
}
label{
    position: absolute;
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #6A707B;
top: 300px;
width: 359px;
left: 50px;
}
#text_pr{
position: absolute;
left: 7px;
top: -20px;
}
#text_pr2{
position: absolute;
top: 45px;
left: 7px;
right: -7px;
}
.mes{
position: absolute;
width:450px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #BB0C0CD4;
left:0px;

}
#message{
	margin-top: 10px;
  top:230px;
}
#message2{
	margin-top: 25px;
  top:240px;
}
#message3{
	margin-top: 10px;
  top:230px;
}
#message4{
	margin-top: 10px;
  top:230px;
}
}